*{
    margin:0;
    padding:0;
}

body{
    background-color:#FF9F00;
    text-align: center;
}

#container{
    height: 70vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}

#game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

#box{
    height: 18vmin;
    width: 18vmin;
    border-radius:1rem;
    border:none;
    font-size: 6vmin;
    color:#222831;
    background-color:whitesmoke;
}

#reset{
    padding:1rem;
    text-align: center;
    font-size: 1.5rem;
    background: #F4631E;
    color:azure;
    border-radius: 1rem;
    border:none;

}

#ngame{
    padding:1rem;
    text-align: center;
    font-size: 1.5rem;
    background:#6f0ea7;
    color:azure;
    border-radius: 1rem;
    border:none;
}


#msg{
    color:beige;
    font-size: 5vmin;
}

.msgContainer{
    height: 20vmin;
}

.hide{
    display: none;
}